doctype html
html
  head
    title spacial_conquest
    script(src="/socket.io/socket.io.js")
    script(src="/vendor.js")
    script(src="/index.js")
    base(href="/")
  body(ng-app="spacial_conquest")
    div(ui-view)
