a(ui-sref="about") About
p This is a game, don't ya know?
p(ng-bind="home.test")
p Username: {{ home.username }}
input(type="text", ng-model="home.username")
button(type="button", ng-click="home.connect()") Connect
