p(ng-bind="home.test")
div#gameCanvas
p Username: {{ home.username }}
.panel.panel-default
  .panel-body
    form.form-horizontal
      .form-group
        label.control-label.col-lg-2(for="username") Username:
        .col-lg-10
          input#username.form-control(type="text", ng-model="home.username")
      .form-group
        .col-lg-10.col-lg-offset-2
          button.btn.btn-success(type="button", ng-click="home.connect()") Connect
